{% extends "M2LSiteBundle:Default:layout.html.twig" %}
{% block title %} {{ parent() }} - Liste des images {% endblock %}
{% block body %}

  <table class="table table-bordered table-striped table-condensed">
    <caption>
      <h3> Liste des images </h3>
    </caption>
    <thead>
      <tr>
        <th style="text-align:center"> Nom image </th>
        <th style="text-align:center"> Galerie </th>
        <th style="text-align:center"> Editer </th>
      </tr>
    </thead>
    <tbody>
        {% for galerieAdmin in galerieList %}
          <tr style="text-align:center">
            <td> {{ galerieAdmin.name }} </td>
            <td> {% if galerieAdmin.id <= 5 %} Galerie mixte (Principale){% elseif galerieAdmin.id >= 11 %} Galerie tennis {% else %} Galerie foot {% endif %}</td>
            <td><a href="{{ path('m2_l_image_editer', {'id':galerieAdmin.id}) }}" class="btn btn-primary"> Editer </a></td>
          </tr>
        {% else %}
          <tr>
            <th colspan="5"> Pas d'images </th>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}