{% extends 'M2LSiteBundle:Default:layout.html.twig' %}
{% block title %} {{ parent() }} - Accueil football {% endblock %}
{% block body %}
	<div class="container">
		{{ render(controller("M2LRssBundle:Default:voir", { 'nb' : 5, 'ligue' : 'foot' })) }}
	</div><hr>
	<div>
		{{ render(controller("M2LNewsBundle:Default:listerAccueil")) }}
	</div>

{% endblock %}