{% extends 'M2LSiteBundle:Default:layout.html.twig' %}
{% block title %} {{ parent() }} - Contact {% endblock %}
{% block body %}
	<div class="container">
		<h2 style="text-align:center;">Romain De Page</h2>
		<h4 style="text-align:center;">Email : <a href="mailto:romain.depage@y-nov.com">romain.depage@y-nov.com</a></h4>
		<hr>
		<h2 style="text-align:center;">Nicolas Milville</h2>
		<h4 style="text-align:center;">Email : <a href="mailto:nicolas.milville@y-nov.com">nicolas.milville@y-nov.com</a></h4>
		<hr>
		<h2 style="text-align:center;">Christophe Anger</h2>
		<h4 style="text-align:center;">Email : <a href="mailto:christophe.anger@y-nov.com">christophe.anger@y-nov.com</a></h4>
		<hr>
		<h2 style="text-align:center;">Alain Vongxay</h2>
		<h4 style="text-align:center;">Email : <a href="mailto:alain.vongxay@y-nov.com">alain.vongxay@y-nov.com</a></h4>
		<hr>
	</div>
{% endblock %}