{% extends 'M2LSiteBundle:Default:layout.html.twig' %}
{% block title %} {{ parent() }} - Contact {% endblock %}
{% block body %}
    <div class="container">
        <h2 style="text-align:center"> Mentions légales </h2><br>

        <p class="alinea">
            Le pr&eacute;sent document a pour objet de d&eacute;finir les modalit&eacute;s et conditions dans lesquelles
            d&rsquo;une part, Romain De Page, ci-apr&egrave;s d&eacute;nomm&eacute; l&rsquo;EDITEUR, met &agrave; la
            disposition de ses utilisateurs le site, et les services disponibles sur le site et d&rsquo;autre part, la
            mani&egrave;re par laquelle l&rsquo;utilisateur acc&egrave;de au site et utilise ses services.Toute
            connexion au site est subordonn&eacute;e au respect des pr&eacute;sentes conditions.Pour l&rsquo;utilisateur,
            le simple acc&egrave;s au site de l&rsquo;EDITEUR &agrave; l&rsquo;adresse URL suivante www.m2l.fr&nbsp;
            implique l&rsquo;acceptation de l&rsquo;ensemble des conditions d&eacute;crites ci-apr&egrave;s.
        </p>

        <h3 style="text-decoration:underline;"> Propri&eacute;t&eacute; intellectuelle </h3>

        <p class="alinea">
            La structure g&eacute;n&eacute;rale du site www.m2l.fr, ainsi que les textes, graphiques, images, sons et&nbsp;vid&eacute;os
            la composant, sont la propri&eacute;t&eacute; de l&apos;&eacute;diteur ou de ses partenaires. Toute repr&eacute;sentation
            et/ou reproduction et/ou exploitation partielle ou totale des contenus et services propos&eacute;s par le
            site www.m2l.fr , par quelque proc&eacute;d&eacute; que ce soit, sans l&apos;autorisation pr&eacute;alable
            et par &eacute;crit de&nbsp; M. De Page&nbsp; et/ou de ses partenaires est strictement interdite et serait
            susceptible de constituer une contrefa&ccedil;on au sens des articles L 335-2 et suivants du Code de la
            propri&eacute;t&eacute;intellectuelle.
        </p>


        <h3 style="text-decoration:underline;"> Liens hypertextes </h3>

        <p class="alinea">
            Le site&nbsp; www.m2l.fr&nbsp; peut contenir des liens hypertextes vers d&rsquo;autres sites pr&eacute;sents
            sur le r&eacute;seau Internet. Les liens vers ces autres ressources vous font quitter le site www.m2l.fr. Il
            est possible de cr&eacute;er un lien vers la page de pr&eacute;sentation de ce site sans autorisation
            expresse de l&rsquo;EDITEUR. Aucune autorisation ou demande d&rsquo;information pr&eacute;alable ne
            peut &ecirc;tre exig&eacute;e par l&rsquo;&eacute;diteur &agrave; l&rsquo;&eacute;gard d&rsquo;un site qui
            souhaite &eacute;tablir un lien vers le site de l&rsquo;&eacute;diteur. Il convient toutefois d&rsquo;afficher
            ce site dans une nouvelle fen&ecirc;tre du navigateur. Cependant, l&rsquo;EDITEUR se r&eacute;serve le droit
            de demander la suppression d&rsquo;un lien qu&rsquo;il estime non conforme &agrave; l&rsquo;objet du site
            www.m2l.fr.
        </p>

        <h3 style="text-decoration:underline;"> Responsabilit&eacute; de l&rsquo;&eacute;diteur </h3>

        <p class="alinea">
            Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources
            consid&eacute;r&eacute;es comme &eacute;tant fiables. Toutefois, ces informations et/ou documents sont
            susceptibles de contenir des inexactitudes techniques et des erreurs typographiques. L&rsquo;EDITEUR se r&eacute;serve
            le droit de les corriger, d&egrave;s que ces erreurs sont port&eacute;es &agrave; sa connaissance. Il est
            fortement recommand&eacute; de v&eacute;rifier l&rsquo;exactitude et la pertinence des informations et/ou
            documents mis &agrave; disposition sur ce site. Les informations et/ou documents disponibles sur ce site
            sont susceptibles d&rsquo;&ecirc;tre modifi&eacute;s &agrave; tout moment, et peuvent avoir fait l&rsquo;objet
            de mises &agrave; jour. En particulier, ils peuvent avoir fait l&rsquo;objet d&rsquo;une mise &agrave; jour
            entre le moment de leur t&eacute;l&eacute;chargement et celui o&ugrave; l&rsquo;utilisateur en prend
            connaissance. L&rsquo;utilisation des informations et/ou documents disponibles sur ce site se fait sous l&rsquo;enti&egrave;re
            et seule responsabilit&eacute; de l&rsquo;utilisateur, qui assume la totalit&eacute; des cons&eacute;quences
            pouvant en d&eacute;couler, sans que l&rsquo;EDITEUR puisse &ecirc;tre recherch&eacute; &agrave; ce titre,
            et sans recours contre ce dernier. L&rsquo;EDITEUR ne pourra en aucun cas &ecirc;tre tenu responsable de
            tout dommage de quelque nature qu&rsquo;il soit r&eacute;sultant de l&rsquo;interpr&eacute;tation ou de l&rsquo;utilisation
            des informations et/ou documents disponibles sur ce site.
        </p>

        <h3 style="text-decoration:underline;"> Acc&egrave;s au site </h3>

        <p class="alinea">
            L&rsquo;&eacute;diteur s&rsquo;efforce de permettre l&rsquo;acc&egrave;s au site 24 heures sur 24, 7 jours
            sur 7, sauf en cas de force majeure ou d&rsquo;un &eacute;v&eacute;nement hors du contr&ocirc;le de l&rsquo;EDITEUR,
            et sous r&eacute;serve des &eacute;ventuelles pannes et interventions de maintenance n&eacute;cessaires au
            bon fonctionnement du site et des services. Par cons&eacute;quent, l&rsquo;EDITEUR ne peut garantir une
            disponibilit&eacute; du site et/ou des services, une fiabilit&eacute; des transmissions et des performances
            en terme de temps de r&eacute;ponse ou de qualit&eacute;. Il n&rsquo;est pr&eacute;vu aucune assistance
            technique vis &agrave; vis de l&rsquo;utilisateur que ce soit par des moyens &eacute;lectronique ou t&eacute;l&eacute;phonique.La
            responsabilit&eacute; de l&rsquo;&eacute;diteur ne saurait &ecirc;tre engag&eacute;e en cas d&rsquo;impossibilit&eacute;
            d&rsquo;acc&egrave;s &agrave; ce site et/ou d&rsquo;utilisation des services. Par ailleurs, l&rsquo;EDITEUR
            peut &ecirc;tre amen&eacute; &agrave; interrompre le site ou une partie des services, &agrave; tout moment
            sans pr&eacute;avis, le tout sans droit &agrave; indemnit&eacute;s. L&rsquo;utilisateur reconna&icirc;t et
            accepte que l&rsquo;EDITEUR ne soit pas responsable des interruptions, et des cons&eacute;quences qui
            peuvent en d&eacute;couler pour l&rsquo;utilisateur ou tout tiers.
        </p>


        <h3 style="text-decoration:underline;"> Modification des conditions d&rsquo;utilisation </h3>

        <p class="alinea">
            L&rsquo;éditeur se r&eacute;serve la possibilit&eacute; de modifier, &agrave; tout moment et sans pr&eacute;avis,
            les pr&eacute;sentes conditions d&rsquo;utilisation afin de les adapter aux &eacute;volutions du site et/ou
            de son exploitation.
        </p>

        <h3 style="text-decoration:underline;"> R&egrave;gles d&apos;usage d&apos;Internet </h3>

        <p class="alinea">
            L&rsquo;utilisateur d&eacute;clare accepter les caract&eacute;ristiques et les limites d&rsquo;Internet, et
            notamment reconna&icirc;t que : L&rsquo;EDITEUR n&rsquo;assume aucune responsabilit&eacute; sur les services
            accessibles par Internet et n&rsquo;exerce aucun contr&ocirc;le de quelque forme que ce soit sur la nature
            et les caract&eacute;ristiques des donn&eacute;es qui pourraient transiter par l&rsquo;interm&eacute;diaire
            de son centre serveur. L&rsquo;utilisateur reconna&icirc;t que les donn&eacute;es circulant sur Internet ne
            sont pas prot&eacute;g&eacute;es notamment contre les d&eacute;tournements &eacute;ventuels. La pr&eacute;sence
            du logo &copy; institue une pr&eacute;somption simple de validit&eacute;. La communication de toute
            information jug&eacute;e par l&rsquo;utilisateur de nature sensible ou confidentielle se fait &agrave; ses
            risques et p&eacute;rils. L&rsquo;utilisateur reconna&icirc;t que les donn&eacute;es circulant sur Internet
            peuvent &ecirc;tre r&eacute;glement&eacute;es en termes d&rsquo;usage ou &ecirc;tre prot&eacute;g&eacute;es
            par un droit de propri&eacute;t&eacute;. L&rsquo;utilisateur est seul responsable de l&rsquo;usage des donn&eacute;es
            qu&rsquo;il consulte, interroge et transf&egrave;re sur Internet. L&rsquo;utilisateur reconna&icirc;t que l&rsquo;EDITEUR
            ne dispose d&rsquo;aucun moyen de contr&ocirc;le sur le contenu des services accessibles sur Internet.
        </p>

        <h3 style="text-decoration:underline"> Droit applicable </h3>

        <p class="alinea">
            Tant le pr&eacute;sent site que les modalit&eacute;s et conditions de son utilisation sont r&eacute;gis par
            le droit fran&ccedil;ais, quel que soit le lieu d&rsquo;utilisation. En cas de contestation &eacute;ventuelle,
            et apr&egrave;s l&rsquo;&eacute;chec de toute tentative de recherche d&rsquo;une solution amiable, les
            tribunaux fran&ccedil;ais seront seuls comp&eacute;tents pour conna&icirc;tre de ce litige. Pour toute
            question relative aux pr&eacute;sentes conditions d&rsquo;utilisation du site, vous pouvez nous &eacute;crire &agrave;
            l&rsquo;adresse suivante : m2l@free.fr.
        </p>
    </div>
{% endblock %}